input[type="text"] {
    border: 1px solid #1758c1;
    border-radius: 6px;
    padding: 0.75em 0.75em;
    width: 500%;
    outline: 1px solid black;
  }
  
  #intervalsinput {
  width: 300px;
  height: 400px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 140, 255);
    height: 50vh; /* Set the height to 100% of the viewport height */
    margin: 0; /* Remove default margin */
  }
  
  h3, input, button, #output {
    margin-bottom: 20px; /* Add some spacing between elements */
  }
  
  #intervalsInput, #submit #output {
    text-align: center; /* Center text within input and button */
  }
  
  #intervalsInput {
    width: 200px; /* Set a specific width for the input field */
  }
  
  #submit {
   cursor: pointer;
   padding: 6px 12px;
   background-color: #76cf8b;
   border-color: 2px solid black;
   color: #fff;
   border: none;
   cursor: pointer;
   font-size: 16px;
   border-radius: 5px;
   outline: 1px solid green;
  }
  
  #submit:hover {
  background-color: #218838;
  }
  
  #output {
  height: 30px;
  width: 400px;
  outline: 1px solid black;
  text-align: center;
  padding: 15px;
  }